* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #fff;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #7c3aed;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #7c3aed, #c084fc);

  -webkit-background-clip: text; /* Chrome/Safari */
  background-clip: text;         /* padrão */

  -webkit-text-fill-color: transparent;
}

.hero h2 {
  margin: 20px 0;
}

.hero button {
  padding: 15px 25px;
  border: none;
  background: #7c3aed;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.1);
}

/* SEÇÕES */
.section {
  padding: 100px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}